body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  color      : #333;
  margin     : 0;
  width      : 800px;
  padding    : 8px;
  box-sizing : border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



.row {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin         : 10px;
  width          : 100%;
}

.compact{
  margin:0px 10px 
}

.sized{
  width:200px !important;
}

h1 {
  color: white !important;
  background-color: darkcyan;
  width:100%;
  text-align: center;
}

.label{
  color:darkcyan;
  font-size: small;
}

.column {
  display: flex;

}

.grid{
  width:400px;
  height:250px;
  display:grid;
  grid-template-columns: 20% auto;
  justify-items: start;
  justify-content: space-evenly;
  align-items: center;

}